<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <title>Best Provider</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-ml-12">
                    <table class="table">
                        {% if provider %}
                            <tr>
                                <td><b>Best Provider's url:</b></td>
                                <td>{{ provider.provider }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <table class="table">
                        {% for currency in currencies %}
                            <tr>
                                <td><b>{{ currency.code }}</b></td>
                                <td>{{ currency.rate }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>