<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Optimal Currency Rate</title>
    </head>
    <body>
        <table>
            {% if provider %}
                <b>Optimal Provider's url:</b> {{ provider.provider }}
            {% endif %}
            <br>
            {% for currency in currencies %}
                <tr>
                    <td><b>{{ currency.code }}</b></td>
                    <td>{{ currency.rate }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>